img{
  @include image-dimensions(250px, 250px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  display: block;
 margin-left: auto;
 margin-right: auto;
  // padding: 0px 30px 0px 0px;
}

.facebook{
  display: inline;
  text-align: center;
@include image-dimensions(30px, 30px)
}
.social{
@extend .facebook
}
